<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--화면구성과 관련된 기능 대신 target을 사용할 때 파라미터 2개 사용-->
<!--this:현재 페이지를 사용하는데 생략이 가능, #ulFirst:CSS의 id선택자를 의미 -->
<th:block th:replace="~{/fragments/fragment3 :: target(~{this :: #ulFirst},~{this :: #ulSecond})}">

    <ul id="ulFirst">
        <li>AAA</li>
        <li>BBB</li>
        <li>CCC</li>
    </ul>

    <ul id="ulSecond">
        <li>111</li>
        <li>222</li>
        <li>333</li>
    </ul>

</th:block>

</body>
</html>